<main>
  <footer>
    <section class="sessao-footer st-flex-spaceEvenly-center">

      <div class="divisoes-footer">
        <h3 class="st-font-18-weight">Contato & Sobre Nós</h3>
        <ul>
          <li>
            <p>Sobre</p>
          </li>
        </ul>
      </div>
      <div class="divisoes-footer">
        <h3 class="st-font-18-weight">Social & Suporte</h3>
        <ul>
          <li>
            <p>Nitendo</p>
          </li>
          <li>
            <p>FAQs</p>
          </li>
        </ul>
      </div>
      <div class="divisoes-footer">
        <h3 class="st-font-18-weight">Legal & Inscrições</h3>
        <ul>
          <li>
            <p>Politica de Privacidade</p>
          </li>
          <li>
            <p>Novidades</p>
          </li>
        </ul>
      </div>
      <div class="divisoes-footer">
        <h3 class="st-font-18-weight">Navegação & Direitos</h3>
        <ul>
          <li>
            <p>Instagram</p>
          </li>
        </ul>
      </div>

    </section>
  </footer>
</main>