<main>
  <footer>
    <section class="footer-background"></section>
    <section class="sessao-footer st-flex-spaceEvenly-start">

      <div class="divisoes-footer">
        <h3 class="st-font-18-w st-color-yelow">Social & Suporte</h3>
        <ul>
          <li>
            <p>Nitendo</p>
          </li>
          <li>
            <p>FAQs</p>
          </li>
        </ul>
      </div>
      <div class="divisoes-footer">
        <h3 class="st-font-18-w st-color-yelow">Legal & Inscrições</h3>
        <ul>
          <li>
            <p>Politica de Privacidade</p>
          </li>
          <li>
            <p>Novidades</p>
          </li>
        </ul>
      </div>
      <div class="divisoes-footer">
        <h3 class="st-font-18-w st-color-yelow">Navegação & Contato</h3>
        <ul class="st-flex-spacebetween-center">
          <li>
            <a href="https://github.com/MurilloMorgado" target="_blank">
              <i class="pi pi-github" style="font-size: 2rem"></i>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/" target="_blank">
              <i class="pi pi-instagram" style="font-size: 2rem"></i>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/murillo-morgado/" target="_blank">
              <i class="pi pi-linkedin" style="font-size: 2rem"></i>
            </a>

          </li>
        </ul>
      </div>

    </section>
  </footer>
</main>