main{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.95) 0%, #181818 37.5%);
  /* height: 17vh; */
}

.footer-background {
  height: 31px;
  background-image: url(/assets/footer-background-1920.png);
}

.sessao-footer{
  height: 100%;
  padding: 20px;
}

.sessao-footer h3{
  margin-top: 22px;
}
.sessao-footer p{
  margin-top: 16px;
}

.divisoes-footer{
  height: 100%;
}


/* Estilos para celulares pequenos (portrait) */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .sessao-footer{
    flex-direction: column;
  } 
}

/* Estilos para celulares pequenos (landscape) */
@media only screen and (min-width: 481px) and (max-width: 767px) {
  /* Estilos específicos para celulares pequenos na orientação landscape */
}

/* Estilos para tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* Estilos específicos para tablets */
}

/* Estilos para desktops pequenos */
@media only screen and (min-width: 1025px) and (max-width: 1199px) {
  /* Estilos específicos para desktops pequenos */
}

/* Estilos para desktops grandes */
@media only screen and (min-width: 1200px) {
  /* Estilos específicos para desktops grandes */
}
