main{
  /* background: rgb(243, 243, 148); */
}
.imagem-principal {
  height: 700px; 
  background-image: url(/assets/ash-caminhando.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top -360px;
}

aside{
  height: 200px;
  background-image: url(/assets/aside-1920.png);
  background-size: cover;
  background-repeat: no-repeat;
  

  color: white;
  /* border-top: 1px solid yellow; */
  /* border-bottom: 1px solid yellow; */
  
}


aside h2{
  margin: 5px 0;
}

.cards-monster{
  height: 500px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.90));
  
}

