<app-header />
<main>
  <section class="imagem-principal"></section>

  <aside>
    <div>
      <h2>Pokemon</h2>
      <p>Pokémon é uma franquia que inclui videogames, TV, filmes e brinquedos. Tem mais de 800 espécies de criaturas
        coletáveis.</p>
    </div>
    <div>
      <h2>Guia do Treinador</h2>
      <p>Considere o tipo de Pokémon. Cada tipo tem forças e fraquezas. Seu estilo de jogo é crucial. </p>
    </div>
    <div>
      <h2>Atualização</h2>
      <ul>
        <li>
          <p>Kanto</p>
        </li>
        <li>
          <p>Kanto</p>
        </li>
        <li>
          <p>Kanto</p>
        </li>
      </ul>
    </div>
  </aside>
</main>
<app-footer />