<app-header />
<main>
  <section class="imagem-principal"></section>

  <aside class="st-flex-spaceAround-center">
    <div style="width: 20%;">
      <h2 class="st-font-18 bolder">Pokemon</h2>
      <p>Pokémon é uma franquia que inclui videogames, TV, filmes e brinquedos. Tem mais de 800 espécies de criaturas
        coletáveis.</p>
    </div>
    <div style="width: 20%;">
      <h2 class="st-font-18 bolder">Guia do Treinador</h2>
      <p>Considere o tipo de Pokémon. Cada tipo tem forças e fraquezas. Seu estilo de jogo é crucial. </p>
    </div>
    <div style="width: 20%;">
      <h2 class="st-font-18 bolder">Atualização</h2>
      <ul>
        <li>
          <p>Kanto</p>
        </li>
        <li>
          <p>Kanto</p>
        </li>
        <li>
          <p>Kanto</p>
        </li>
      </ul>
    </div>
  </aside>
  <section class="cards-monster">
    <p>pokemons</p>
  </section>
</main>
<app-footer />