<app-header />
<main>
  <section class="imagem-principal">
    <img src="/assets/ash-caminhando.png" alt="">
  </section>
  
  <aside>
    <section class="aside-top"></section>
    <div class="container-aside st-flex-spaceAround-center">
      <div class="divisoes-aside">
        <h2 class="st-font-18-w st-color-yelow">Pokemon</h2>
        <p>Pokémon é uma franquia que inclui videogames, TV, filmes e brinquedos. Tem mais de 800 espécies de criaturas
          coletáveis.</p>
      </div>
      <div class="divisoes-aside">
        <h2 class="st-font-18-w st-color-yelow">Guia do Treinador</h2>
        <p>Considere o tipo de Pokémon. Cada tipo tem forças e fraquezas. Seu estilo de jogo é crucial. </p>
      </div>
      <div class="divisoes-aside">
        <h2 class="st-font-18-w st-color-yelow">Atualização</h2>
        <ul>
          <li>
            <p>1.0 Kanto</p>
          </li>
        </ul>
      </div>
    </div>
    <section class="aside-bottom"></section>
  </aside>

  <section class="sessoes st-flex-spaceAround-center">
    <div class="sessao-imagem st-flex-spaceAround-center">
      <img src="assets/ash-pikachu-abraco.jpg" alt="">
    </div>
    <div class="sessao-texto">
      <h3>Início da Jornada</h3>
      <p>O anime Pokémon estreou no Japão em 1º de abril de 1997. Desde então, tornou-se uma das séries de anime mais
        populares e duradouras, cativando fãs ao redor do mundo com as aventuras de Ash Ketchum e seu fiel companheiro
        Pikachu enquanto viajam pelo mundo Pokémon, treinam e batalham contra outros treinadores e enfrentam desafios
        diversos. Ao longo dos anos, o anime Pokémon inspirou múltiplas temporadas, filmes, jogos e uma variedade de
        produtos relacionados.</p>
    </div>
  </section>
  <section class="sessoes reverse-column st-flex-spaceAround-center">
    <div class="sessao-texto">
      <h3>Explorando Regiões Pokémon</h3>
      <p>Dedique uma seção a cada região explorada no anime Pokémon, como Kanto, Johto, Hoenn, Sinnoh, Unova, Kalos,
        Alola e Galar. Forneça informações sobre os locais visitados, os Pokémon exclusivos de cada região e os
        principais eventos ocorridos.</p>
    </div>
    <div class="sessao-imagem st-flex-spaceAround-center">
      <img src="assets/pokemonRed.jpg" alt="">
    </div>
  </section>
  <section class="sessoes st-flex-spaceAround-center">
    <div class="sessao-imagem st-flex-spaceAround-center">
      <img src="assets/ash-misty-brock.jpg" alt="">
    </div>
    <div class="sessao-texto">
      <h3>Personagens em Destaque</h3>
      <p>Destaque os personagens principais do anime Pokémon, como Ash, Pikachu, Misty, Brock e outros. Forneça
        informações sobre suas características, desenvolvimento ao longo da série e curiosidades.</p>
    </div>
  </section>
  <section class="sessoes reverse-column st-flex-spaceAround-center">
    <div class="sessao-texto">
      <h3>Jornada pelas Regiões</h3>
      <p>Dedique uma seção a cada região explorada no anime Pokémon, como Kanto, Johto, Hoenn, Sinnoh, Unova, Kalos,
        Alola e Galar. Forneça informações sobre os locais visitados, os Pokémon exclusivos de cada região e os
        principais eventos ocorridos.</p>
    </div>
    <div class="sessao-imagem st-flex-spaceAround-center">
      <img src="assets/regiao-kanto.png" alt="">
    </div>
  </section>

</main>
<app-footer />