main {
  /* background: rgb(243, 243, 148); */
}

.imagem-principal {
  height: 700px;
  background-image: url(/assets/ash-caminhando.png);
  background-position: center top -360px;
}

aside {
  height: 200px;
  background-image: url(/assets/aside-1920.png);
  background-position: center;

  color: white;
}

aside h2 {
  margin: 5px 0;
}


/* Conteudo */
.sessoes {
  height: 80vh;
  background: #181818;

}

.sessao-texto {
  width: 50%;
  padding: 100px;
}

.sessao-texto h3 {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 22px;
}
.sessao-texto p {
  text-align: justify;
}

.sessao-imagem {
  width: 50%;
}

.sessao-imagem img {
  width: 800px;
  height: 460px;
  border-radius: 10px;

  box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, 0.589);
}